<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h2 class="bg-success">{{org.name}}</h1>
<p>Taxonomy: {{org.taxonomy}}</p>
<table class="atpase-info">
    {% for j in org.atpase %}
	<tr valign="top"> 
    	<td>{{j.fof1_type}}</td><td>{% for u in j.operon %} operon {{u.operon_type}}; {% endfor %}</td><td>{{j.subunit_list}}</td>
	</tr>
	{% endfor%}
{% for i in org.operon %}
<table class="operon-info">
    <caption><h3>ATP-synthase type: {{i.enzyme.fof1_type}}, operon type: {{i.operon_type}}</h3></caption>
	<tr valign="top"> 
		<th>Subunit</th><th>Start</th><th>End</th><th>Sequence</th>
	</tr>
{% for k in i.sequence %}
{% include 'seq.html' %}
{% endfor %}
{% endfor %}
</table>
{% endblock %}